body {
    color: white;
    margin: 0;
    padding: 0;
  }

.header {
  height: 48px;
  background: #3c3a39;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 24px;
  margin-top: 0;
}

.hamburger {
  padding-top: 58px;
  margin-right: 24px;
}

.hide-desktop {
  display: inline;
}

.hide-mobile {
  display: inline;
}

.main-container {
  background-image: url("image/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 200px;
  padding-bottom: 0;
  height: 580px;
  background-color: #1c1a19;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: -55px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar a {
  float: left;
}

.navbar img {
  float: right;
}

.logo-message {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 550;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 0;
  padding-top: 83px;
}

.dev-intro {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.background {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 24px;
  color: #fff;
}

.social-media {
  list-style: none;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 40px;
  left: 24px;
  top: 430px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}
